<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <style>
    </style>
</head>
   <body>
    <div class="w3-container w3-black">
      <h1>MOSAIC - photo mosaic creator</h1>
    </div>

    <ul class="w3-ul">
     <li>
        <div class="w3-container w3-blue"><h2>Каринка из мозайки</h2></div>
        <img width="800" src="/static/simple_mosaic.jpg">
    </li>

      <li>
      <form action = "/make_mosaic" method = "POST"
         enctype = "multipart/form-data" class="w3-container w3-card-4">
          <div class="w3-container w3-blue">
                  <h2>Сделать картинку </h2>
            </div>
          <p>
         <label class="w3-text-blue"><b>Выберите файл</b></label>
         <input type = "file" name = "file" />
          <p>
         <label class="w3-text-blue"><b>Доступные теги:</b></label>
         <select name= "tags">
             {% for tag in tags %}
             <option value= "{{tag}}">{{tag}}</option>"
             {% endfor %}
         </select>
          <p>
          <label class="w3-text-blue"><b>..или введите свою фразу</b></label>
          <input type="text" name="phrase" class="w3-input w3-border">
          <p>
         <input class="w3-btn w3-ripple w3-orange" type="submit" value="Сгенерировать"/>
      </form>
      </li>

    <li>
        <div class="w3-container w3-blue"><h2>Анимация с уточнением</h2></div>
        <img width="800" src="/static/increase_dim.gif">
    </li>

      <li>
      <form action = "/make_gif" method = "POST"
         enctype = "multipart/form-data" class="w3-container w3-card-4">
          <div class="w3-container w3-blue">
                  <h2>Сделать гифку </h2>
            </div>
          <p>
         <label class="w3-text-blue"><b>Выберите файл</b></label>
         <input type = "file" name = "file" />
          <p>
         <label class="w3-text-blue"><b>Доступные теги:</b></label>
         <select name= "tags">
             {% for tag in tags %}
             <option value= "{{tag}}">{{tag}}</option>"
             {% endfor %}
         </select>
          <p>
          <label class="w3-text-blue"><b>..или введите свою фразу</b></label>
          <input type="text" name="phrase" class="w3-input w3-border">
          <p>
         <input class="w3-btn w3-ripple w3-orange" type="submit" value="Сгенерировать"/>
      </form>
      </li>

    <li>
        <div class="w3-container w3-blue"><h2>Фото с градиентом</h2></div>
        <img width="800" src="/static/gradient.jpg">
    </li>

       <li>
      <form action = "/make_gradient" method = "POST"
         enctype = "multipart/form-data" class="w3-container w3-card-4">
          <div class="w3-container w3-blue">
                  <h2>Сделать картинку c градиентом</h2>
            </div>
          <p>
         <label class="w3-text-blue"><b>Выберите файл</b></label>
         <input type = "file" name = "file" />
          <p>
         <label class="w3-text-blue"><b>Доступные теги:</b></label>
         <select name= "tags">
             {% for tag in tags %}
             <option value= "{{tag}}">{{tag}}</option>"
             {% endfor %}
         </select>
          <p>
          <label class="w3-text-blue"><b>..или введите свою фразу</b></label>
          <input type="text" name="phrase" class="w3-input w3-border">
          <p>
         <input class="w3-btn w3-ripple w3-orange" type="submit" value="Сгенерировать"/>
      </form>
      </li>
    </ul>
   </body>
</html>
